.lakit-carousel-v2{
  --e-dot-width: 10px;
  --e-dot-height: 10px;
  --e-dot-scale: 0.8;
  --e-dot-active-scale: 1;
  --e-dot-direction: row;
  --e-dot-h-position: 50%;
  --e-dot-h-transform: -50%;
  --e-dot-h-offset: 0px;
  --e-dot-v-position: 100%;
  --e-dot-v-transform: -100%;
  --e-dot-v-offset: 0px;
  --e-transform-modifier: 1;
  --e-dot-gap: 5px;
  --e-dot-radius: 50%;
  --e-dot-display: flex;
}
.lakit-carousel-v2 .lakit-carousel .swiper-slide > .e-con {
  --padding-top: initial;
  --padding-right: initial;
  --padding-bottom: initial;
  --padding-left: initial
}
.lakit-carousel-v2 > .lakit-carousel > .lakit-carousel__dots{
  height: -moz-max-content;
  height: max-content;
  left: calc(var(--e-dot-h-position) + var(--e-dot-h-offset));
  top: calc(var(--e-dot-v-position) + var(--e-dot-v-offset));
  transform: translate(calc(var(--e-dot-h-transform) * var(--e-transform-modifier)), var(--e-dot-v-transform));
  width: -moz-max-content;
  width: max-content;
  bottom: auto;
  display: var(--e-dot-display);
  flex-direction: var(--e-dot-direction);
  width: auto !important;
  gap: var(--e-dot-gap);
  align-items: center;
  justify-content: center;
  height: auto !important;
  right: auto !important;
}
.lakit-carousel-v2 > .lakit-carousel > .lakit-carousel__dots .swiper-pagination-bullet{
  --swiper-pagination-bullet-width: var(--e-dot-width);
  --swiper-pagination-bullet-height: var(--e-dot-height);
  --bullet_width: var(--e-dot-width);
  --bullet_height: var(--e-dot-height);
  transform: scale(var(--e-dot-scale));
  width: var(--bullet_width);
  height: var(--bullet_height);
  left: 0 !important;
  margin: 0;
  background-color: var(--e-dot-color, var(--lakit-three-color));
  border-radius: var(--e-dot-radius)
}
.lakit-carousel-v2 > .lakit-carousel > .lakit-carousel__dots .swiper-pagination-bullet-active-main{
  --swiper-pagination-bullet-width: var(--e-dot-active-width, var(--e-dot-width));
  --swiper-pagination-bullet-height: var(--e-dot-active-height, var(--e-dot-height));
  --bullet_width: var(--e-dot-active-width, var(--e-dot-width));
  --bullet_height: var(--e-dot-active-height, var(--e-dot-height));
  transform: scale(var(--e-dot-active-scale, var(--e-dot-scale)));
  background-color: var(--e-dot-active-color, var(--lakit-primary-color))
}