.lakit-subscribe-form, .lakit-subscribe-form__submit {
  position: relative;
  max-width: 100%
}
.lakit-subscribe-form__fields {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch
}
.lakit-subscribe-form__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto
}
.lakit-subscribe-form__submit span {
  vertical-align: middle;
  display: inline-block
}
.lakit-subscribe-form__submit:before {
  box-sizing: border-box;
  position: absolute;
  visibility: hidden;
  top: 50%;
  left: 50%;
  width: 26px;
  height: 26px;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-top-color: #000;
  content: "";
  animation: .6s linear infinite lakit-spinner
}
.lakit-subscribe-form__submit.loading i, .lakit-subscribe-form__submit.loading span {
  visibility: hidden
}
.lakit-subscribe-form__submit.loading:before {
  visibility: visible
}
.lakit-subscribe-form__message {
  position: absolute;
  top: 100%;
  width: 100%;
  visibility: hidden;
  color: #4ab866;
  font-size: 14px
}
.lakit-subscribe-form__message .lakit-subscribe-form__message-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center
}
.lakit-subscribe-form .elementor-icon {
  color: inherit
}
.lakit-subscribe-form--response-error .lakit-subscribe-form__message {
  color: #d94f4f
}
.lakit-subscribe-form--inline-layout .lakit-subscribe-form__input-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start
}
.lakit-subscribe-form--inline-layout .lakit-subscribe-form__input-group .lakit-subscribe-form__fields {
  flex: 1 1 auto;
  width: 100px
}
.lakit-subscribe-form--inline-layout .lakit-subscribe-form__input-group .lakit-subscribe-form__submit {
  flex: 0 1 auto;
  width: auto
}
.lakit-subscribe-form--block-layout .lakit-subscribe-form__input-group {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center
}
.lakit-subscribe-form--block-layout .lakit-subscribe-form__input-group .lakit-subscribe-form__fields {
  width: 100%
}
.lakit-subscribe-v2 .lakit-subscribe-form__fields {
  flex-direction: var(--lakit-newsletter-direction, row);
  gap: var(--lakit-newsletter-gap, 0);
  justify-content: var(--lakit-newsletter-justify-content);
  align-items: var(--lakit-newsletter-align-items)
}
.lakit-subscribe-v2 .lakit-subscribe-form__input {
  width: auto;
  flex-grow: 1
}
.lakit-subscribe-form__agreements {
  display: flex;
  margin: .5em 0;
}
.lakit-subscribe-form__agreements label.lakit-subscribe-form__agreement-checkbox {
  margin: 0
}
.lakit-subscribe-form__agreement-checkbox > input{
  background-color: transparent;
}
body:not(.rtl) .lakit-subscribe-form__agreement-checkbox > input {
  margin-right: var(--lakit-newsletter-checkbox-gap, 5px);
}
body.rtl .lakit-subscribe-form__agreement-checkbox > input {
  margin-left: var(--lakit-newsletter-checkbox-gap, 5px);
}
.lakit-subscribe-v2 .lakit-subscribe-form__input.mail-invalid {
  color: red;
}
.agreement-invalid .lakit-subscribe-form__agreement-checkbox > input {
  border-color: red;
}