.elementor-lakit-timeline-horizontal{
	--htimeline-column: 3;
	--htimeline-gap: 0;
	--htimeline-card-gap: 30px;
	--htimeline-meta-gap: 10px;
	--htimeline-meta-padding: 0;
	--htimeline-meta-color: inherit;
	--htimeline-meta-border-color: inherit;
	--htimeline-meta-bgcolor: transparent;
	--htimeline-meta-color-hover: var(--htimeline-meta-color);
	--htimeline-meta-border-color-hover: var(--htimeline-meta-border-color);
	--htimeline-meta-bgcolor-hover: var(--htimeline-meta-bgcolor);
	--htimeline-meta-color-active: var(--htimeline-meta-color);
	--htimeline-meta-bgcolor-active: var(--htimeline-meta-bgcolor);
	--htimeline-meta-border-color-active: var(--htimeline-meta-border-color);
	--lakit-htimeline-line-offset: 50%;
	--htimeline-tlbar-item-width: 0%;
	--htimeline-tlbar-height: 3px;
	--htimeline-tlbar-color: inherit;
	--htimeline-tlbar-linecolor: inherit;
}
.lakit-htimeline {
	position: relative;
}
.lakit-htimeline--arrows-nav .lakit-htimeline-inner {
	overflow: hidden
}
.lakit-htimeline-track {
	display: flex;
	flex-flow: column
}
.lakit-htimeline--full-timeline .lakit-htimeline-track,
.lakit-htimeline--scroll-bar .lakit-htimeline-track {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	padding-bottom: 30px
}
.lakit-htimeline--scroll-bar .lakit-htimeline-track::-webkit-scrollbar {
	height: 8px;
	background: var(--lakit-border-color);
	border-radius: 4px
}
.lakit-htimeline--scroll-bar .lakit-htimeline-track::-webkit-scrollbar-button {
	width: 0;
	height: 0
}
.lakit-htimeline--scroll-bar .lakit-htimeline-track::-webkit-scrollbar-thumb {
	background-color: var(--lakit-secondary-color);
	border: none;
	border-radius: 4px
}
.lakit-htimeline--scroll-bar .lakit-htimeline-track::-webkit-scrollbar-track {
	border: none;
	background: 0 0
}
.lakit-htimeline--scroll-bar .lakit-htimeline-track::-webkit-scrollbar-corner {
	background: 0 0
}
.lakit-htimeline--arrows-nav .lakit-htimeline-track {
	transition: transform .5s
}
.lakit-htimeline-list {
	position: relative;
	display: flex;
	gap: var(--htimeline-gap);
}
.lakit-htimeline-list--middle, .lakit-htimeline-list--top {
	align-items: flex-end
}
.lakit-htimeline-list--bottom {
	align-items: flex-start
}
.lakit-htimeline-item {
	--item-width: calc((100% - (var(--htimeline-gap) * (var(--htimeline-column) - 1)))/var(--htimeline-column));
	display: flex;
	flex-flow: column nowrap;
	flex: 0 0 var(--item-width);
	max-width: var(--item-width);
	transition: .2s
}
.lakit-htimeline-list--top .lakit-htimeline-item {
	padding-top: 15px
}
.lakit-htimeline-list--bottom .lakit-htimeline-item {
	padding-bottom: 15px
}
.lakit-htimeline-item__card {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	border-width: 1px;
	transition: inherit
}
.lakit-htimeline-list--top .lakit-htimeline-item__card {
	margin-bottom: var(--htimeline-card-gap)
}
.lakit-htimeline-list--bottom .lakit-htimeline-item__card {
	margin-top: var(--htimeline-card-gap)
}
.lakit-htimeline-item__card-inner {
	display: flex;
	flex-flow: column nowrap;
	padding: 30px;
	overflow: hidden;
	z-index: 1;
	background-color: #f8f8f8;
	transition: inherit
}
.lakit-htimeline-item__card-img {
	margin-bottom: 10px
}
.lakit-htimeline-item__card-img img {
	vertical-align: top
}
.lakit-htimeline-item__card-title {
	margin: 0 0 10px;
	padding: 0;
	transition: inherit
}
.lakit-htimeline-item__card-arrow {
	position: absolute;
	width: 20px;
	height: 20px;
	border-width: 1px;
	transition: inherit
}
.lakit-htimeline .lakit-htimeline-item__card-arrow {
	box-sizing: content-box
}
.lakit-htimeline-item__card-arrow:before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-color: #f8f8f8;
	transition: inherit
}
.lakit-htimeline-list--top .lakit-htimeline-item__card-arrow {
	top: 100%;
	transform: translateY(-50%) rotate(45deg);
	border-left-color: transparent !important;
	border-top-color: transparent !important
}
.lakit-htimeline-list--bottom .lakit-htimeline-item__card-arrow {
	bottom: 100%;
	transform: translateY(50%) rotate(45deg);
	border-right-color: transparent !important;
	border-bottom-color: transparent !important
}
.lakit-htimeline--align-left .lakit-htimeline-item__card-arrow {
	left: 20px
}
.lakit-htimeline--align-right .lakit-htimeline-item__card-arrow {
	right: 20px
}
.lakit-htimeline--align-center .lakit-htimeline-item__card-arrow {
	left: 50%
}
.lakit-htimeline--align-center .lakit-htimeline-list--top .lakit-htimeline-item__card-arrow {
	transform: translateX(-50%) translateY(-50%) rotate(45deg)
}
.lakit-htimeline--align-center .lakit-htimeline-list--bottom .lakit-htimeline-item__card-arrow {
	transform: translateX(-50%) translateY(50%) rotate(45deg)
}
.lakit-htimeline-item__meta {
	transition: inherit;
	padding: var(--htimeline-meta-padding);
	color: var(--htimeline-meta-color);
	background-color: var(--htimeline-meta-bgcolor);
	border-color: var(--htimeline-meta-border-color);
}
.lakit-htimeline .is-hover .lakit-htimeline-item__meta{
	color: var(--htimeline-meta-color-hover);
	background-color: var(--htimeline-meta-bgcolor-hover);
	border-color: var(--htimeline-meta-border-color-hover);
}
.lakit-htimeline .is-active .lakit-htimeline-item__meta{
	color: var(--htimeline-meta-color-active);
	background-color: var(--htimeline-meta-bgcolor-active);
	border-color: var(--htimeline-meta-border-color-active);
}
.lakit-htimeline-list--top .lakit-htimeline-item__meta {
	margin-bottom: var(--htimeline-meta-gap)
}
.lakit-htimeline-list--bottom .lakit-htimeline-item__meta {
	margin-top: var(--htimeline-meta-gap)
}
.lakit-htimeline--align-left .lakit-htimeline-item__meta {
	text-align: left;
	margin-right: auto
}
.lakit-htimeline--align-center .lakit-htimeline-item__meta {
	text-align: center;
	margin-left: auto;
	margin-right: auto
}
.lakit-htimeline--align-right .lakit-htimeline-item__meta {
	text-align: right;
	margin-left: auto
}
.lakit-htimeline-item__point {
	z-index: 1;
	transition: inherit
}
.lakit-htimeline-item__point-content {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	min-width: 10px;
	min-height: 10px;
	font-size: 16px;
	color: var(--lakit-secondary-color);
	background-color: var(--lakit-border-color);
	border-radius: 50%;
	transition: inherit
}
.lakit-htimeline-item__point-content svg {
	width: 1em;
	height: 1em;
	vertical-align: middle;
	display: inline-block
}
.lakit-htimeline--align-left .lakit-htimeline-item__point-content {
	margin-left: 10px;
	margin-right: auto
}
.lakit-htimeline--align-center .lakit-htimeline-item__point-content {
	margin-left: auto;
	margin-right: auto
}
.lakit-htimeline--align-right .lakit-htimeline-item__point-content {
	margin-left: auto;
	margin-right: 10px
}
.lakit-htimeline-item.is-active .lakit-htimeline-item__point-content {
	background-color: var(--lakit-primary-color);
	color: #fff
}
.lakit-htimeline__line {
	position: absolute;
	top: 50%;
	height: 2px;
	transform: translateY(-50%);
	overflow: hidden;
	background-color: var(--lakit-border-color)
}
.lakit-htimeline__line-progress {
	width: 0;
	height: 100%;
	background-color: var(--lakit-primary-color);
	transition: .5s
}
.lakit-htimeline .lakit-arrow {
	border-radius: 50%;
	background-color: var(--lakit-primary-color);
	color: #fff
}
.lakit-htimeline .lakit-arrow.arrow-disabled {
	opacity: 0;
	cursor: default;
	pointer-events: none
}
.lakit-htimeline-line100-yes .lakit-htimeline__line {
	opacity: 0
}
.lakit-htimeline-line100-yes .lakit-htimeline-inner:before {
	content: '';
	background-color: var(--lakit-border-color);
	width: 100vw;
	position: absolute;
	height: 2px;
	left: 50%;
	top: var(--lakit-htimeline-line-offset);
	transform: translateX(-50%)
}
.lakit-htimeline-list--timeline{
	justify-content: space-between;
}
.lakit-htimeline--full-timeline .lakit-htimeline-track{
	padding: 0;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.lakit-htimeline--full-timeline .lakit-htimeline-track::-webkit-scrollbar {
	display: none;
}
.lakit-htimeline-track--bars{
	border-bottom: var(--htimeline-tlbar-height) solid var(--htimeline-tlbar-linecolor);
}
.lakit-htimeline-timelinebar {
	color: var(--htimeline-tlbar-color);
	min-width: var(--htimeline-tlbar-item-width);
}
.lakit-htimeline-timeline-progress-bar {
	position: absolute;
	bottom: 0;
	/*left: 0;*/
	width: var(--timeline-bar-width, 0%);
	background: var(--htimeline-tlbar-linecolor);
	height: var(--htimeline-tlbar-height);
	z-index: 2;
}
.lakit-htimeline--full-timeline .lakit-htimeline-list--top {
	gap: var(--htimeline-gap);
	align-items: center;
}
.lakit-htimeline--full-timeline .lakit-htimeline-item__meta{
	margin: 0;
}
.lakit-htimeline--full-timeline .lakit-htimeline-item{
	padding: 0;
}
.lakit-htimeline--full-timeline .lakit-htimeline-item__card-inner {
	flex-direction: row;
	align-items: center;
	gap: var(--htimeline-meta-gap);
}